<!doctype html>
<html lang="en">
  <head>
    <title>Photo Mailer — super simple photo newsletters</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "layouts/nav" %>

    <%= yield %>

    <footer role="contentinfo" class="text-center mt-5 pt-5">
      <p>
        <%= link_to "Terms",   :terms, class: "me-3" %>
        <%= link_to "Privacy", :privacy %>
      </p>

      <p class="text-center text-muted">
        Built with
        <%= bootstrap_icon icon_slug_for_made_with, height: 24, class: "mb-1 mx-1 text-secondary" %>
        in the Pacific Northwest
      </p>
    </footer>
  </body>
</html>
